/* Global */
@import url(./global.css);

.hide {
    display: none;
}

.container {
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

/* Form */

.form h3 {
    margin-bottom: 1rem;
}

.formInputContainer {
    display: flex;
}

.form input {
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Clima */

#weatherData {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weatherData h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weatherData span {
    margin: 0.6rem;
}

#country {
    height: 2rem;
}

#descriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#detailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailsContainer #umidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
}